.header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  width: 25%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
list-style-type: none;
}
