/*HEADER STYLING*/
h1 {
  /*color:rgb(254, 98, 102);*/
  color:rgb(42, 102, 255);
}
.lead {
  color:rgb(254, 98, 102);
}

/*BUTTON AND DROPDOWN STYLING*/

li {
list-style-type: none;
}

/*CONTENT STYLING*/

.row{
  padding:5%;
  background-color: #f9ffff;
}
